@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

html,body{
    font-family: 'Bakbak One', cursive;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0D0D0D;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: auto;
}

#header .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid #404040;
    border-radius: 50%;
}

#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: white;
}

#header .profile .social-links a{
    font-size: 1rem;
    background: #404040;
    color: #fff;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

#header .profile .social-links a:hover{
 background: #A62F03;
}

.nav-menu{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: #404040;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a:hover{
    color: #A62F03;
}

.nav-menu .active:focus i{
    color: white;
}

.nav-menu i,
.nav-menu i:focus{    
    /*color: #404040;*/
    padding-right: 0.8rem;
    font-size: 24px;
}

#main{
    margin-left: 300px;}

section#inicio{
    background-image: url("./img/corsa-branco-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}

section#inicio h2{
    font-size: 6rem;

}

section#inicio span#subtitle{
    margin-right: 8rem;
    font-size: 1.5rem;
}

section#inicio div#arraste{
    width: 9rem;
}

section#inicio div#arraste a{
    text-decoration: none;
    color: #404040;
}

.text-shadow{
    text-shadow: 4px 4px 10px black;
}

i.menu-mobile{
    position: fixed;
    color: #404040;
    background-color: #A6A6A6;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active{
    overflow: hidden;
}
.menu-nav-active #header{
    left: 0;
}

@media (max-width: 1024px){
    #header{
        left: -300px;
    }
    i.menu-mobile{
        display: flex;
    }
    h1{
        font-size: 3.5rem;
    }
    section#inicio span#subtitle{
        margin-right: 0;
        font-size: 1rem;
    }
    #main{
        margin-left: 0px;
    }
}